{% extends 'base.html' %}
{% block title %}LOGIN PAGE{% endblock %}
{% block content %}
<h2>Login</h2>
{% with  messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category,message in messages %}
<span>
{{ message }}
</span>
{% endfor %}
{% endif %}
{% endwith %}


<form action="" method="POST">
<!-- <div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
</div>
<div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">

</div>
<button>Submit</button> -->
{{ form.hidden_tag() }}
{{ form.email.label }}{{ form.email }}
{{ form.password.label }}{{ form.password }}
{{ form.submit }}
</form>
<a href="{{ url_for('auth.register') }}">Do not have an account? Register</a>

{% endblock %}